/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  margin: 0;
  padding: 30px;
  color: white;
  text-shadow: 4px 3px 0px #4040a1;
  }

p {
  margin: 0;
}



/* ---- layout ---- */
.nav{
  margin: 0;
  display: flex;
  align-items: center;

}

.nav-ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}


.nav-ul li{
  list-style-type:none;
  margin: 0;
  padding: 10px;
  
}
.nav-ul li a{
  text-decoration: none;
  color: #034f84;
  transition: all 300ms;
}

.nav-ul li a:hover{
  font-size: 20px;
  
}

.logo{
  margin: 5px;
}
.block{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  font-family: "Courier New", Courier, monospace;
}
.box{
  box-shadow: 2px 2px 10px 0;
  border-style: hidden;
  background-color: #f9d5e5;
  padding: 15px;
  margin: 50px;

}

#site-header {
  color: white;
  background:#8d9db6;;
}
#site-main{
  background-color:#4040a1;
  display: flex;
  flex-direction: column;
}

#site-footer {
  color: #034f84;
  background: #8d9db6;
  
}


/* ---- components ---- */


.loading{
background-image: url("./image/loading2.gif");
background-size: cover;
background-position: center;
height: 600px;
width: 600px;
text-align: end;
font-size: 2em;
color: white;
text-shadow: 4px 3px 0px #d64161;
}

.title{
  text-align: center;
  background-color: #4040a1;
  background-image: url("./image/sakura2.gif");
  background-position: center;
  background-size: cover;
  height: 200px;

}

.holiday{
  animation-name: fact;
  animation-duration: 3000ms;
  box-shadow: 2px 2px 10px 0;
  border-style: hidden;
  background-color: #f9d5e5;
  padding: 15px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  font-family: "Courier New";
}

@keyframes fact {
  from{
    margin-left: -910px;
  }

  to{
margin-left: 190px;
  }
}

.last-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 4px 3px 0px #d64161;

}

.mouse{
  position: fixed;
  animation: mouse 10s infinite ease-in-out;
  display: flex;
  align-items: flex-end;
}
 @keyframes mouse{
  0%{
    top: 90%;
    left: 40px;
  }
  50%{
   top: 10%;
   left: 40px;
  }
  100%{
    top: 90%;
    left: 40px;
   }
 }




@media (min-width: 900px) {
  .box{
    box-shadow: 2px 2px 10px 0;
    border-style: hidden;
    background-color: #f9d5e5;
    padding: 15px;
    margin: 50px auto;
    width: 100%;
    max-width: 900px;
  
  }

  .holiday{
    padding: 15px;
    margin: 50px auto;
    width: 100%;
    max-width: 900px;
  }
  
}








